 <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title"></div>
                </div>
                <div class="modal-body">
                    <p id="note">Notes</p>
                    <div class="input"></div>
                </div>

            </div>
        </div>
    </div>


    <!-- Container -->
    <div class="container">

        <nav class="navbar navbar-expand-lg">
            Mongo Scraper&nbsp;&nbsp;&nbsp;

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saved-articles">Saved Articles</a>
                    </li>
                </ul>

                <a href="https://github.com/bnkfick/Headlines" class="my-2 my-sm-0 git-icon"><i class="fa fa-github"
                        aria-hidden="true"></i></a>

            </div>
        </nav>


        <div class="jumbotron text-center">
            <h1>Ars Technica</h1>
            <p>Thoughts on articles about technology.</p>
            <button class="btn-fetch btn btn-primary" role="button">Get New Articles</button>
            <button class="btn-delete btn btn-success" role="button">Delete All Articles</button>
        </div>


        <div class="row" id="articles">
            <!--  <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4></h4>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-primary btn-sm">Comment</a>
            </div>
          </div>
        </div> -->
        </div>


    </div>

    <script src="app.js"></script>